*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cardo', serif;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    width: 100%;
}
body
{   
    font-size: 1.7rem;
    width: 100%;
    background-color: rgb(51, 53, 51);
    color: rgb(232, 237, 223);
}
@keyframes drop-down
{
    0% {transform: scaleY(0)}
    100% {transform: scaleY(1)}
}
.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
header
{   
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:  rgb(245, 203, 92);
}
.menu
{
    width: 100%;
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 70px;
    padding-top: 60px;
    margin-top: -60px;
}
input, textarea
{
    font-size: 1.6rem;
}
footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 1.4rem;
}
li
{
    padding:5%;
}
.navigation
{
    flex-direction: column;
    align-items: center;
    display: none;
}
.navigation_show
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name_and_menu_button
{   
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 50px;
}
.menu_icon_line
{
    width: 30px;
    height: 4px;
    background-color: rgb(36, 36, 35);
    margin: 4px;
    border-radius: 1px;
}
.menu_name
{   
    font-family: 'Oswald', sans-serif;
    color: #242423;
}
ul
{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ul_menu_list
{
    background-color:  rgba(245, 204, 92, 0.973);
    position: absolute;
    transform-origin: top;
    animation-name: drop-down;
    animation-duration: 250ms;
}
.ul_menu_list li
{       
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
}
a
{   
    font-family: 'Oswald', sans-serif;
    outline: none;
    text-decoration: none;
    color: rgb(36, 36, 35);
}
h2
{   
    font-family: 'Oswald', sans-serif;
    font-size: 3.3rem;
    padding-bottom:40px;
    color: rgb(245, 203, 92);
    text-align: center;
    width: 80%;
}
h3
{   
    font-size: 2.7rem;
    font-family: 'Oswald', sans-serif;
    color: rgb(232, 237, 223);
    text-align: center;
}
.hello
{
    font-size: 3.2rem;
    padding-bottom:30px;
}
p
{
    text-align:center;
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.photo_div
{
    background-image: url(./img/photo300.jpg);
    background-size: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.footer_div
{   
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.link_icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.link_icons img
{
    width: 40px;
}
.flex_center
{
    display: flex;
    justify-content: center;
}
.skills_images
{   
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.skills_images img
{
    width: 100px;
    margin: 20px;

}
.div_form_contact input::placeholder, textarea::placeholder
{
    color:rgba(245, 204, 92, 0.384);
}
.div_form_contact
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.form_input
{   
    border: none;
    border-radius: 5px;
    background-color: rgb(36, 36, 35);
    color: rgb(245, 203, 92);
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
.div_form_textarea
{
    width: 100%;
}
.contact_textarea
{
    height: 200px;
    width: 100%;
    resize: none;
}
.div_form_submit
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form_submit
{   
    font-family: 'Oswald', sans-serif;
    -webkit-appearance: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    width: 150px;
    background-color: rgb(245, 203, 92);
    text-align: center;
}
.captcha
{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.projects_container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}
.project_frame
{
    width: 300px;
    background-color:rgb(36, 36, 35);
    margin-bottom: 60px;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.project_frame img
{
    width: 80%;
    margin-top: 10px;
    margin-bottom: 20px;
}
.project_frame p
{
    width:90%;
}
.project_buttons_container
{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.project_one_button_container
{
    justify-content: center;
}
.project_button
{
    background-color: rgb(245, 203, 92);
    padding: 5px;
    border-radius: 5px;
    width: 40%;
    text-align: center;
}
.margin_bottom_0
{
    margin-bottom: 0;
}
/* RESPONSIVE CSS FOR TABLETS AND SMALL DESKTOP SCREENS */
@media only screen and (min-width: 601px)
{   
    section
    {
        margin-bottom: 100px;
    }
    h2
    {   
        font-size: 3.7rem;
        padding-bottom:80px;
    }
    h3
    {
        font-size: 3.0rem;
    }
    .hello
    {
        font-size: 3.5rem;
    }
    .photo_div
    {
        width: 300px;
        height: 300px;
        margin-bottom: 40px;
    }
    .skills_images
    {   
        margin-top: -40px;
    }
    .skills_images img
    {
        width: 120px;
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 40px;
    }
    .projects_container
    {
        
        justify-content: space-around;
    }
    .project_frame
    {
        height: 620px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .form_submit
    {   
        width: 35%;
    }
}
@media only screen and (min-width: 801px)
{   
    h2
    {
        font-size: 3.8rem;
    }
    .hello
    {   
        padding-bottom:40px;
        font-size: 3.7rem;
    }
    .photo_div
    {
        margin-bottom: 50px;
    }
    .skills_images
    {   
        margin-top: -50px;
    }
    .skills_images img
    {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
    }
}
@media only screen and (min-width: 901px)
{   
    section
    {
        width:85%;
    }
    h2
    {
        font-size: 4rem;
    }
    h3
    {
        font-size: 2.9rem;
    }
    .hello
    {   
        font-size: 3.8rem;
    }
    .skills_images
    {   
        margin-top: -60px;
    }
    .skills_images img
    {
        width: 120px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 60px;
    }
}
@media only screen and (min-width: 1024px)
{   
    body
    {   
        font-size: 2rem;
    }
    #about-me
    {
        width:65%;
    }
    #skills
    {
        width: 80%;
    }
    #projects
    {
        width:90%;
    }
    h2
    {
        font-size: 4.2rem;
    }
    h3
    {
        font-size: 2.9rem;
    }
    .hello
    {   
        font-size: 4rem;
    }
    .menu
    {
        display: flex;
        align-self: center;
        width: 90%;
    }
    .name_and_menu_button
    {   
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .menu_name
    {
        width: 30%;
    }
    .navigation
    {
        display: flex;
        flex-direction: row;
        width: 70%;
    }
    #menu_button
    {
        display: none;
    }
    .ul_menu_list
    {   
        height: 100%;
        position: relative;
        animation-name: none;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }
    .ul_menu_list li
    {       
        width: 100px;
        align-items: center;
        padding: 0;
    }
    .skills_images
    {   
        margin-top: -65px;
    }
    .skills_images img
    {   
        width: 130px;
        margin-left: 65px;
        margin-right: 65px;
        margin-top: 65px;
    }
}
@media only screen and (min-width: 1280px)
{   
    #projects
    {
        width:90%;
    }
    h2
    {
        font-size: 4.3rem;
    }
    h3
    {
        font-size: 2.9rem;
    }
    .hello
    {   
        font-size: 4.1rem;
    }
    .photo_div
    {
        margin-bottom: 70px;
    }
    .skills_images
    {   
        margin-top: -80px;
    }
    .skills_images img
    {   
        margin-left: 80px;
        margin-right: 80px;
        margin-top: 80px;
    }
}
@media only screen and (min-width: 1366px)
{   
    #about-me
    {
        width: 50%;
    }
    #skills
    {   
        width: 80%;
    }
    #projects
    {
        width: 80%;
    }
    .skills_images
    {   
        margin-top: -85px;
    }
    .skills_images img
    {   
        width: 140px;
        margin-left: 85px;
        margin-right: 85px;
        margin-top: 85px;
    }
}
@media only screen and (min-width: 1536px)
{
    #skills
    {   
        width: 75%;
    }
}
@media only screen and (min-width: 1610px)
{   
    #skills
    {
        width: 70%;
    }
    .skills_images
    {   
        margin-top: -100px;
    }
    .skills_images img
    {   
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 100px;
    }
}
@media only screen and (min-width: 1930px)
{
    .skills_images img
    {   
        width: 160px;
    }
    #projects
    {
        width: 70%;
    }
}